﻿@{
    ViewData["Title"] = "Kasutajale";
}

<h2>Esita lähetusaruanne kolme nupuvajutusega!</h2>

<p>Lähetuse kulutused arvutatakse lähetusaruande esitamise või aruande kinnitamise kuupäevaga. Juhatus hüvitab lähetatule kinnitatud lähetusaruande alusel. Täida aruande nõutud väljad ja lisa kuludokumendid.</p>
