﻿@{
    ViewData["Title"] = "Kontakt";
}
<h2>Malle Maasikas</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Lõõtsa 8<br />
    Tallinn, 11415<br />
    <abbr title="Phone">Tel:</abbr>
    +372 618 1720
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:Support@example.com">raamatupidaja@valiteater.ee</a><br />
    @*<strong>Osakonna juhataja:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
