﻿@model IEnumerable<TravelExpences.Models.TripReport>

@{
    ViewData["Title"] = "TripReport";
}

<style>
    nbody {
        color: darkorange;
    }

    cbody {
        color: blueviolet;
    }

    dbody {
        color: darkblue;
    }

    ebody {
        color: forestgreen;
    }
</style>



<h2>Töölähetused</h2>



<p>
    <img src="~/images/trip7.jpg" style="width:1150px;height:150px;">
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Otsi nime järgi: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Otsi" class="btn btn-default" /> |
            <a asp-action="Index">Tagasi</a>
        </p>
    </div>
</form>

<p>
    @if (User.IsInRole("Tehnik") || User.IsInRole("Näitleja"))
    {
        <a asp-action="Create">Lisa uus</a>
    }
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaySum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportExpenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationExpenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherExpenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @item.DaySum
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripDuration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransportExpenses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationExpenses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationNight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherExpenses)
                </td>

                @if (item.TripStatus.Name == "Avatud")
                {
                    <td>
                        <nbody>

                            <img src="~/images/oranz_check.png" style="width:30px;height:33px;">
                            @Html.DisplayFor(modelItem => item.TripStatus.Name)

                            

                        </nbody>
                    </td>
                }
                else if (item.TripStatus.Name == "Esitatud")
                {
                    <td>
                        <cbody>
                            <img src="~/images/violet_check.png" style="width:30px;height:33px;">
                            @Html.DisplayFor(modelItem => item.TripStatus.Name)

                        </cbody>
                    </td>
                }
                else if (item.TripStatus.Name == "Kinnitatud")
                {

                    <td>
                        <dbody>
                            <img src="~/images/blue_check.png" style="width:29px;height:33px;">
                            @Html.DisplayFor(modelItem => item.TripStatus.Name)

                        </dbody>
                    </td>
                }
                else if (item.TripStatus.Name == "Välja makstud")
                {
                    <td>
                        <ebody>
                            <img src="~/images/green_check_uus.png" style="width:30px;height:33px;"><br />
                            @Html.DisplayFor(modelItem => item.TripStatus.Name)

                        </ebody>

                    </td>
                }
                else
                {
                    <td></td>
                }

                <td>

                    <a asp-action="Details" asp-route-id="@item.Id">Info</a><br />

                    @if ((User.IsInRole("Tehnik") || User.IsInRole("Näitleja")) && item.TripStatus.Name == "Avatud")
                    {

                        <a asp-action="Edit" asp-route-id="@item.Id">Muuda</a><br />



                        <a asp-action="Delete" asp-route-id="@item.Id">Kustuta</a><br />


                        <a asp-action="Submit" asp-route-id="@item.Id">Esita</a><br />
                    }


                    @if ((User.IsInRole("Haldusjuht") || User.IsInRole("Näitejuht")) && item.TripStatus.Name == "Esitatud")
                    {
                        <a asp-action="Confirm" asp-route-id="@item.Id">Kinnita</a><br />




                        <a asp-action="ReturnToWorker" asp-route-id="@item.Id">Lükka tagasi</a><br />
                    }



                    @if (User.IsInRole("Raamatupidaja") && item.TripStatus.Name == "Kinnitatud")
                    {
                        <a asp-action="Pay" asp-route-id="@item.Id">Tee väljamakset</a><br />



                        <a asp-action="ReturnToWorker" asp-route-id="@item.Id">Lükka tagasi</a>
                    }



                </td>

            </tr>
        }
    </tbody>
</table>

