﻿@model TravelExpences.Models.TripReport

@{
    ViewData["Title"] = "Väljamakse";
}

<h2>Väljamakse</h2>

@*<h3>Kas oled kindel, et soovid väljamakset teha?</h3>*@
<div>

    <hr />
    <dl class="dl-horizontal">
        @*<h4>Lähetusaruanne</h4>*@
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TripDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TripDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportExpenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccomodationExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccomodationExpenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccomodationNight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccomodationNight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherExpenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherExpenses)
        </dd>

    </dl>
    <style {line-height:100px;}></style>


    @if (Model.File != null)
    {
        <a asp-action="GetImageFile" , asp-controller="TripReports" asp-route-tripReportId="@Model.Id">@Model.FileName<br />
<br />
</a>
    }


    <style {line-height:100px;}></style>
    <form asp-action="Pay">
        <label asp-for="Comments" class="control-label"></label>

        <div class="form-group">
            <textarea id="comment" name="comment" cols="50" rows="5"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Tee väljamakse" class="btn btn-default" /> |
        <a asp-action="Index">Tagasi</a>
    </form>
</div>